body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 128, 0, 0.473);
}

.slideshow {
  width: 700px;
  height: 400px;
  overflow: hidden;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[name="i"] {
  position: absolute;
  visibility: hidden;
}

.slides-container {
  width: 500%;
  height: 100%;
  display: flex;
}
.slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  transition: 1s;
}

.bar {
  width: 130px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  color: #fff;
}

nav {
  margin-top: 20px;
  margin-bottom: 15px;
  align-items: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#i1:checked ~ .first-slide {
  margin-left: 0;
}

#i2:checked ~ .first-slide {
  margin-left: -20%;
}
#i3:checked ~ .first-slide {
  margin-left: -40%;
}
#i4:checked ~ .first-slide {
  margin-left: -60%;
}
#i5:checked ~ .first-slide {
  margin-left: -80%;
}

h2 {
  text-transform: capitalize;
  position: absolute;

}

.a {
}
.b {
}
.c {
}
.d {
}
.e {
}

.image {
  margin: 0 10px 10px;
  height: 50px;
  width: 50px;
}
.team-container {
  text-align: center;
  margin-right: 10px;
}

p {
  margin: 0;
  font-size: .9rem;
}
